<div class="container">
    <header class="header">
        <div class="author-info">
            <div class="author-details">
                <h2 class="author-name">Author: {{bookDetail?.author}}</h2>
                <p class="author-birth">Born on {{bookDetail?.birthday}} in {{bookDetail?.birthPlace}}</p>
            </div>
            <div class="sorting">
                <button (click)="showAddBook()"> {{addBookToggle ? 'Hide' : 'Show'}} Add Book</button>
                <div class="action">
                    <label class="lable">
                        Sort by
                    </label>
                    <select class="dropdown" [(ngModel)]="sortOption" (change)="sortData()">
                        <option value="title">Title</option>
                        <option value="date">Publish Date</option>
                    </select>
                </div>

                <!-- <button (click)="sortData()">Sort</button> -->
            </div>
        </div>

    </header>
    <!-- <div class="author-info">
        <div class="author-details">
            <h2 class="author-name">Author: {{bookDetail?.author}}</h2>
            <p class="author-birth">Born on {{bookDetail?.birthday}} in {{bookDetail?.birthPlace}}</p>
        </div>
        <div class="sorting">

            <button>Add Book</button>
            <button>Sort Books</button>
        </div>
    </div> -->

    <app-add-book *ngIf="addBookToggle" (newBook)="addBook($event)"></app-add-book>

    <div class="book-list" *ngIf="bookDetail">
        <div class="book-item" *ngFor="let book of bookDetail.books">

            <div class="book">
                <div class="book-image">
                    <img [src]="book.imageUrl" [alt]="book.title">
                </div>
                <div class="book-info">
                    <h3 class="book-title"> {{book.title}} </h3>
                    <p class="book-date">Published on {{book.PublishDate}} </p>
                </div>
            </div>

        </div>
    </div>
</div>