.container {
    background-color: rgb(201, 230, 239);

    .action-container {
        display: flex;
        justify-content: space-around;
        background: #56a7ee;
        align-items: center;
    }

    .book-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .book-item {
            width: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            .book {
                margin: 20px 0;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        .action-container {
            display: flex;
            flex-direction: column;
        }

        .book-list {
            .book-item {
                width: 100%;
            }
        }

    }



}